<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="FilePath" value="C:\Intellicon"/>
    <add key="DeviceIP" value="192.168.1.254"/>
    <add key="DevicePort" value="10001"/>
    <add key="TimerInterval"  value="30000"/>
    <add key="DataLen"  value="10"/>
  </appSettings>
</configuration>